.body {
    background-image: url(Background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.container{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 97vh;
}

.video {
    height: 45vh;
    border-radius: 14px;
    position: relative;
    margin: auto; /* Menempatkan video di tengah horizontal */
    top: 30%; /* Memindahkan video ke tengah vertikal */
    transform: translateY(-50%); /* Menggeser video ke atas sejauh setengah dari tingginya */
    box-shadow: 0 0 0 3px rgb(255, 97, 35); /* Menambahkan outline stroke warna hitam */
}


.image {
    height: 90vh;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: auto;
}